@font-face {
    font-family: 'BebasNeue';
    src: url('../Assets/font/BebasNeue-Regular.woff') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK-medium';
    src: url('../Assets/font/LEMONMILK-Medium.otf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK-regular';
    src: url('../Assets/font/LEMONMILK-Regular.otf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;


}

#log-Modal {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-side {
    width: 35%;
    /* image side */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #0b539f;
}

.left-side video {
    max-height: 100%;
    width: 100%;

}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    border-radius: 10px;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.15);
    transform: translateX(-15px);
    background-color: #ffffff;
    position: relative;
}


#Modal-content {
    background: #ffffff;
    padding: 20px;
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25); */
    border-radius: 16px;
    width: 520px;
    max-width: 95%;
    border: 2px solid rgb(141, 140, 140);
}

.form h1 {
    text-align: center;
    font-family: 'LEMONMILK-regular', serif;
    color: rgb(78, 78, 78);
    margin-bottom: 50px;

}

.close-btn {
    position: absolute;
    right: 24px;
    top: 18px;
    font-size: 3.0rem;
    cursor: pointer;
    color: #666;
}

.form-group input {
    width: 90%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;


}

.form-group {
    margin-bottom: 20px;
    padding-left: 20px;
}

#confirmpassword {
    margin-top: 12px;

}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #2c3e50;
    /* margin-left: 10px; */

}

#errorMessage {
    text-align: center;
    color: red;
}
.Success{
    text-align: center;
    color: rgb(0, 255, 102);
}

#submitBtn {
    display: flex;
    /* background-color: #2c3e50; */
    padding: 10px 50px;
    font-family: Arial, Helvetica;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #2c3e50, #4b6a88);
}
#submitBtn:hover{
    background: linear-gradient(135deg, #ff9800, #ff5722);
 transform: translateY(-1px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}



#signup-con {
    text-align: center;
    margin: 0 auto;
}

#signup-con p {
    margin: 10px 0 3px;
}

#signup-con a {
    text-decoration: none;
    color: #0b539f;
    font-weight: 500;
}